.testonomial-container{
    width: 100vw;
    background-color: rgb(195, 200, 200);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 4rem 2rem;
      padding-bottom: 12rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.testonomial-container-heading{
   font-size: 1.1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 0.3rem;
   margin-top: 4rem;
}
.testonomial-container-heading h1{
    opacity: 0.8;
}
.div-underline{
    height: 3px;
    width: 100px;
    background-color: rgb(137, 97, 158);
}
.testinomial-card-container{
     max-width: 600px;
     background-color: white;
     display: flex;
    flex-direction: column;
     gap: 0.5rem;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     position: relative;
      margin-top: 0.5rem;
      padding:  2rem;
      padding-bottom: 0.5rem;
     border-radius: 0.5rem;
     transition: all 2s;
}
.testinomial-image{
    background-color: rgb(99, 59, 136);
    border-radius: 4rem;
    position: absolute;
    left: 0.4%;
    top: -21%;
    max-height: 8.2rem;
    max-width: 8.3rem;   
}
.testo-img{
        max-height: 8rem;
        max-width: 96%;    
        border-radius: 18rem;
     
   
}
.name{
    font-size: 1.5rem;
    font-weight: 700;
}
.job{
    font-size: 1.1rem;
    color: rgb(172, 141, 202);
    font-weight: 500;
    padding-top: 0.2rem;
}
.quote-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0.5rem 0;
    gap: 0.3rem;
    font-family:  "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

}
.testonomial-icon{
     color: rgb(212, 165, 255);
     font-size: 1.1rem;
      margin: 0.5rem 0;
       
}
.testinomial-desc{
    color: rgb(109, 108, 108);
    
}
.chevron-btn{
    display: flex;
    gap: 1.4rem;
    margin-bottom: 0.5rem;
}
.left-btn{
    color: rgb(212, 165, 255);
    cursor: pointer;
    font-size: 1.3rem
    
}
.left-btn:hover{
    color: rgb(161, 89, 164);
}
.last-btn{
    padding: 0.7rem 2rem;
    background-color: rgb(167, 114, 217);
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 0.5rem   ;
    margin-top: 0.5rem;
    cursor: pointer;
     
}
.last-btn:hover{
    background-color: rgb(143, 93, 190);
}
@media screen and (max-width:760px) {
    .testinomial-card-container{
       display: flex;
       flex-direction: column;
       gap: 0.5rem;
       align-items: center;
       justify-content: center;
       position: relative;
        padding: 0.5rem 1rem;
    }
  
    .testinomial-image{
       position: relative;
        
    }
    .testonomial-container-heading{
        font-size: 0.8rem;
        text-align: center;
    }
  }